django>=1.9,<1.10
psycopg2==2.6.1

djangorestframework==3.3.3
djangorestframework-camel-case==0.2.0
python-social-auth==0.2.19
requests==2.10.0
paramiko==2.0.1
github3.py==0.9.5
django-ipware==1.1.5

celery==3.1.23
django-celery==3.1.17
redis==2.10.5

raven
