.ProjectDetails
  h1
    button
      float: right

  code
    .padding
      padding: 0.6rem 0

      &:first-child
        padding-top: 0

      &:last-child
        padding-bottom: 0

    pre
      margin-bottom: 0
