@import "../styles/variables.styl";

.ProjectsOverview
  margin-bottom: 2rem

  .Project
    border-bottom: 1px solid white
    padding: 1.6rem 0
    cursor: pointer

    &:hover
      background: darken(background-color, 20%)

    h3
      margin: 0.2em 0
