@keyframes spinner {
  to {transform: rotate(360deg)}
}


@-webkit-keyframes spinner {
  to {-webkit-transform: rotate(360deg)}
}

.Spinner--wrapper
  width: 1.5rem
  height: 20px
  display: inline-block
  position: relative
  margin: 0 0.6rem

.Spinner
  min-width: 24px
  min-height: 24px

.Spinner:before
    content: 'Loading…'
    position: absolute
    top: 50%
    left: 50%
    width: 16px
    height: 16px
    margin-top: -10px
    margin-left: -10px

.Spinner:not(:required):before
    content: ''
    border-radius: 50%
    border-top: 2px solid white
    border-right: 2px solid transparent
    animation: spinner .6s linear infinite
    -webkit-animation: spinner .6s linear infinite
