button,
.button
  border: 1px solid white
  background: transparent
  color: white
  font-weight: 200
  text-transform: uppercase
  padding: 0.4em
  cursor: pointer;


h1
  button
    font-size: 0.6em
