.text-left
  text-align: left

.text-center
  text-align: center

.text-right
  text-align: right

.pull-left
  float: left

.pull-right
  float: right

.lead
  font-size: 2em

.overflow
  overflow: auto;

.overflow-x
  overflow-x: auto;

.overflow-y
  overflow-y: auto;

.padding
  padding: 2rem
